#message-dialog
    .message-container
        .message-title 你的愿望
        textarea.message-input#message-content
        .message-send
            .btn.btn-default#message-cancel 取消
            .btn.btn-default#message-send   发送