#message-dialog
    .message-mask
    .message-color
    .message-container#message-container
        .message-hd#message-hd 将愿望藏在这里
        .message-owner
            .wish-owner-avatar
                 img(src=`https://avatars.dicebear.com/4.5/api/male/${Math.random().toString(36).slice(-5)}.svg?background=%23fff`)
            .message-owner-nick#messageNick #{user.name||""}
            .message-wish-edit
        .message-wish#message-wish #{user.wish||"世界和平！"}
        .message-send
            #message-cancel 取消
            #message-send   发送